*{
    font-family: 'Papyrus';
    color: lightgray;
}
.fondo{
    background-color: rgb(44, 106, 167);
}
.targeta{
    background-color: rgb(165, 116, 43);
}
.etiqueta{
    background-color: rgb(108, 108, 108);
}
legend{
    background-color: rgb(108, 108, 108);
}