:root{
    --map_size: 16
}

@media (orientation: portrait) {
    html{
        height: 100%;
    }
    div:not(#portrait){
        display: none;
    }
    #portrait{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 5px;
        height: 100%;
    }
    body{
        height: 100%;
    }
}

@media (orientation: landscape) {
    html{
        height: 100%;
        width: 100%;
    }
    #portrait{
        display: none;
    }
    body{
        display: flex;
        flex-direction: row;
        background-color: lightblue;
        height: 100%;
        margin: 0px;
    }
    div:not(#portrait):not(#map){
        display: unset;
    }
}

/* Esto es lo que cuenta */

* {
    box-sizing: border-box;
}

#map{
    width: 60%;
    height: auto;
    background-color: burlywood;
    display: grid;
    scroll-behavior: smooth;
    grid-template-columns: repeat(var(--map_size), "1fr");
    grid-template-rows: repeat(var(--map_size), "1fr");
    overflow-x: scroll;
    overflow-y: scroll;
    zoom: normal;
    padding: 5px;
}

#controles{
    width: 20%;
    height: 100%;
}

#menu{
    width: 20%;
    height: 100%;
}

.casilla{
    width: 1fr;
    height: 1fr;
    margin: 0px;
    border: 1px ridge black;
    background-color: lightgrey;
}

::-webkit-scrollbar{
    background-color: burlywood;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-corner{
    background-color: burlywood;
}

::-webkit-scrollbar-thumb{
    background-color: black;
}