body{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

#fila{
    display:contents;
    flex-direction: row;

}

nav{
    background-color: burlywood;
    border: 3px solid brown;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    padding: 2%;
    margin-top: 3%;
    border-radius: 10%;
}

button{
    background-color: lightsteelblue;
    border: 3px outset blue;
    margin: auto;
    width: 95%;
    height: 95%;
    padding: 2%;
    font-size: larger;
}

aside{
    position:fixed;
    top: 55%;
    right: 0;
    width: 15%;
    height: 20%;
    background-color: burlywood;
    border: 3px solid brown;
    padding: 1%;
    padding-top: 0;
    border-radius: 10%;
    overflow: scroll;
    overflow-x: hidden;
}

aside::-webkit-scrollbar{
    background-color: burlywood;
    width: 2px;
}


